<h2>Leider fehlen uns noch ein paar Daten von dir, bist du so gut und pflegst die ein?</h2>
<form class="pure-form pure-form-aligned" action="/worker/add" method="post">
    <fieldset>
        <legend>Meine Daten</legend>
        <div class="pure-g">
            <div class="pure-u-1 pure-control-group">
                <label for="firstname">Vorname*</label>
                <input name="firstname" class="pure-input-2-3" id="firstname" type="text" value="">
            </div>
            <div class="pure-u-1 pure-control-group">
                <label for="lastname">Nachname*</label>
                <input name="lastname" class="pure-input-2-3" id="lastname" type="text" value="">
            </div>
            <div class="pure-u-1 pure-control-group">
                <label for="emailaddress">Emailadresse*</label>
                <input name="emailaddress" class="pure-input-2-3" id="emailaddress" type="email" value="">
            </div>
            <div class="pure-u-1 pure-control-group">
                <label for="phonenumber">Telefonnummer*</label>
                <input name="phonenumber" class="pure-input-2-3" id="phonenumber" type="tel" value="">
            </div>
            <div class="pure-u-1 pure-controls">
                <button class="pure-button pure-button-primary" type="button">Speichern</button>
            </div>
        </div>
    </fieldset>
</form>