@brand-color: #0068a9;
@success-color: rgb(176,200,0);
@info-color: rgb(66,187,217);
@warning-color: rgb(255,193,5);
@error-color: rgb(233,15,64);

@brand-color-45: lighten(@brand-color, 45);
@brand-color-40: lighten(@brand-color, 40);
@brand-color-30: lighten(@brand-color, 30);
@text-color: #fafdff;
