<h1 id="startseite">Startseite</h1>

<p>Auf der Startseite werden die Tickets angezeigt, die dir zugeordnet sind, dadurch hast du einen schnellen Zugriff auf deine Tickets.</p>

<table class="pure-table pure-table-horizontal pure-table-striped pure-table-fullsize">
    <thead>
        <tr>
            <th>#</th>
            <th>Priorität</th>
            <th>Beschreibung</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="#">1234567894</a></td>
            <td>15</td>
            <td>Irgendwas ist kaputt gegangen, als wir versucht haben…</td>
        </tr>
    </tbody>
</table>