<pre>{{error}}</pre>
<a class="pure-button pure-button-primary" href="/admin/export/active">{{localize 'export active tickets'}}</a>
<a class="pure-button pure-button-primary" href="/admin/export/archived">{{localize 'export archived tickets'}}</a>