<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link href="/stylesheets/pure-min.css" rel="stylesheet" />
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/component.css" />
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/javascripts/modernizr.custom.js"></script>
    <script src="/javascripts/wizard.js"></script>
    <title>OPS Liste - {{title}}</title>
    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            margin-bottom: 60px;
        }

        .pure-footer {
            position: absolute;
            bottom: 0;
            height: 50px;
            width: 100%;
            background-color: #ededed;
            border-top-color: #c6d0da;
            border-top-width: 1px;
            border-top-style: solid;
            padding-left: 90px;
            padding-right: 90px;
        }

        .pure-container {
            margin-top: 60px;
            margin-left: 90px;
            margin-right: 90px;
        }

        .pure-button-wizard-next {
            float: right;
        }

        .pure-validation-error {
            color: red;
        }

            .pure-validation-error > input {
                border-color: red !important;
            }

            .pure-validation-error > textarea {
                border-color: red !important;
            }

        .pure-validation-success {
            color: green;
        }

            .pure-validation-success > input {
                border-color: green !important;
            }

            .pure-validation-success > textarea {
                border-color: green !important;
            }
    </style>
</head>
<body>
    <ul id="gn-menu" class="gn-menu-main">
        <li class="gn-trigger">
            <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
            <nav class="gn-menu-wrapper">
                <div class="gn-scroller">
                    <ul class="gn-menu">
                        <li>
                            <a class="gn-icon fa-ticket">Tickets</a>
                            <ul class="gn-submenu">
                                <li><a class="gn-icon fa-wrench">Aktive Tickets</a></li>
                                <li><a class="gn-icon fa-eye">Freie Tickets</a></li>
                                <li><a class="gn-icon fa-certificate">Unpriorisierte Tickets</a></li>
                                <li><a class="gn-icon fa-archive">Archivierte Tickets</a></li>
                                <li><a class="gn-icon fa-plus" href="/ticket/add">Hinzufügen</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="gn-icon fa-user">Mitarbeiter</a>
                            <ul class="gn-submenu">
                                <li><a class="gn-icon fa-eye">Anzeigen</a></li>
                                <li><a class="gn-icon fa-plus">Hinzufügen</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="gn-icon fa-bullhorn">Abteilungen</a>
                            <ul class="gn-submenu">
                                <li><a class="gn-icon fa-eye">Anzeigen</a></li>
                                <li><a class="gn-icon fa-plus">Hinzufügen</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="gn-icon fa-windows">Anwendungen</a>
                            <ul class="gn-submenu">
                                <li><a class="gn-icon fa-eye">Anzeigen</a></li>
                                <li><a class="gn-icon fa-plus" href="/application/add">Hinzufügen</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="gn-icon fa-suitcase">Mandanten</a>
                            <ul class="gn-submenu">
                                <li><a class="gn-icon fa-eye">Anzeigen</a></li>
                                <li><a class="gn-icon fa-plus">Hinzufügen</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="gn-icon fa-calendar">Releases</a>
                            <ul class="gn-submenu">
                                <li><a class="gn-icon fa-eye">Anzeigen</a></li>
                                <li><a class="gn-icon fa-plus">Hinzufügen</a></li>
                            </ul>
                        </li>
                        <li><a class="gn-icon fa-cog">Einstellungen</a></li>
                        <li><a class="gn-icon fa-question">Hilfe</a></li>
                    </ul>
                </div>
            </nav>
        </li>
        <li><a href="/"><i class="fa fa-home"></i> Start</a></li>
        <li><a href="/ticket"><span><i class="fa fa-ticket"></i> Tickets anzeigen</span></a></li>
        {{#isAdmin}}
        <li><a href="/admin/users"><span><i class="fa fa-users"></i> Benutzer verwalten</span></a></li>
        {{/isAdmin}}
        <li><a><span><i class="fa fa-user"></i> Hallo {{{username}}}</span></a></li>
    </ul>
    <div class="pure-container">
        {{{body}}}
    </div>
    <footer class="pure-footer">
        <p>Gemacht von Imanuel Ulbricht :)</p>
    </footer>
    <script src="/javascripts/classie.js"></script>
    <script src="/javascripts/gnmenu.js"></script>
    <script>
        new gnMenu(document.getElementById('gn-menu'));
    </script>
</body>
</html>
